@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<div>

    <form asp-action="Login" asp-controller="Login">
        <label>Username: </label><input type="text" name="txtuser" />
        <br />
        <label>Password: </label><input type="password" name="txtpass" />
        <br />
        <input type="submit" value="Login" />
        <input type="reset" value="Reset" />
        <h5 style="color: red">@TempData["fail"]</h5>
    </form>

</div>

